apiVersion: apps/v1
kind: Deployment
metadata:
  name: nuxt-app
  namespace: project-x
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nuxt-app
  template:
    metadata:
      labels:
        app: nuxt-app
    spec:
      containers:
        - name: nuxt-app
          image: image-registry.openshift-image-registry.svc:5000/project-x/nuxt-app:latest
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: NITRO_PORT
              value: "8080"
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
